section.about
    .container
        .title.title--width-bottom-line
            h2.title.title__header About us
            .title__text We are added our major Service

        ul.about__list
            li.about__item
                .icon.icon-like
                h3.about__header Facebook Marketing
                p.about__description Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.
     
            li.about__item
                .icon.icon-book
                h3.about__header Landing pages Creation
                p.about__description Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.

            li.about__item
                .icon.icon-message
                h3.about__header Ads management
                p.about__description Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.
                
