section.approach
	.container
		.title.title--width-bottom-line
			h2.title.title__header Our Approach
			.title__text Check Our approaches step by step (how we do it)

		ul.approach__list
			li.approach__item
				.approach__image
					img.approach__picture(src="../images/step-1.jpg")
					.approach__step step
				.approach__text
					.approach__title Step 1 : Heading here
					p.approach__description. 
						Ut fusce varius nisl ac ipsum gravida vel pretium tellus
						tincidunt integer eu augue augue nunc elit dolor, luctus placerat.
			
			li.approach__item
				.approach__image
					img.approach__picture(src="../images/step-2.jpg")
					.approach__step step
				.approach__text
					.approach__title Step 2 : Heading here
					p.approach__description. 
						Ut fusce varius nisl ac ipsum gravida vel pretium tellus
						tincidunt integer eu augue augue nunc elit dolor, luctus placerat

			li.approach__item
				.approach__image
					img.approach__picture(src="../images/step-3.jpg")
					.approach__step step
				.approach__text
					.approach__title Step 3 : Heading here
					p.approach__description. 
						Ut fusce varius nisl ac ipsum gravida vel pretium tellus
						tincidunt integer eu augue augue nunc elit dolor, luctus placerat

			li.approach__item
				.approach__image
					img.approach__picture(src="../images/step-4.jpg")
					.approach__step step
				.approach__text
					.approach__title Step 4 : Heading here
					p.approach__description. 
						Ut fusce varius nisl ac ipsum gravida vel pretium tellus
						tincidunt integer eu augue augue nunc elit dolor, luctus placerat