.contacts
	a.contact(href="tel:+380990000000")
		i.fa.fa-mobile.contact__icon(aria-hidden="true")
		span.contact__text 0768899000

	a.contact(href="mailto:info@business.com")
		i.fa.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
		span.contact__text info@business.com

	a.facebook-icon(href="facebook.com")
		i.fa.fa-facebook(aria-hidden="true")
